.banner {
    background-color: $bannerBg;
    border-radius: 10px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;
        @media (max-width: $md2) {
            padding: 25px 0;
        }
        @media (max-width: $md3) {
            padding: 15px 0;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        padding: 0 25px;
        &:not(:last-child) {
            border-right: 1px solid #4b5157;
        }
        @media (max-width: $md2) {
            padding: 0 5px;
        }
    }
}
.card-banner {
    &__headline {
        @include response-font(16, 12);
        line-height: 25/16 * 100%;
        color: $bannerHeadline;
        font-family: $thirdFont;
        width: 154px;
        @media (max-width: $md2) {
            width: auto;
        }
    }

    &__img {
        margin-left: 15px;
        @media (max-width: $md2) {
            margin-left: 0;
            display: none;
        }
    }
}
