.catalogue-goods {
    width: 1420px;
    padding: 25px 0 50px;
    @media (max-width: $md4) {
        padding: 25px 0;
    }
    @media (max-width: $md5) {
        width: 100%;
    }
    &__grid {
        padding: 15px 10px;
        max-width: 1420px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.catalogue-cont {
    margin-bottom: 10px;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        display: flex;
        align-items: center;
    }

    &__select {
        position: relative;
        min-width: 180px;
    }

    &__choice {
        padding-top: 20px;
        min-height: 50px;
        @media (max-width: $md4) {
            padding-top: 10px;
        }
    }
}
.catalogue-cols {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 1300px) {
        display: none;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    span {
        margin-right: 10px;
    }

    &__item {
        margin-right: 15px;
    }

    &__btn {
        &:hover {
            border-bottom: 2px solid $colourFont;
        }
        &_act {
            border-bottom: 2px solid $colourFont;
        }
    }
}

.cust-sel {
    &__top {
        text-transform: uppercase;
        // font-size: 12px;
        @include response-font(12, 8);
        padding: 5px;
        border-bottom: 1px solid $colourFont;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            background-image: url(../img/icons/dropdown.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 20px;
            top: 50%;
            width: 10px;
            height: 6px;
            transform: translateY(-50%);
            margin-top: -3px;
        }
    }

    &__drop {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        background-color: $bgColour;
        width: 100%;
        padding: 10px 5px;
    }

    &_active {
        .cust-sel__top {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        .cust-sel__drop {
            display: block;
        }
    }

    &__item {
        // font-size: 12px;
        @include response-font(12, 8);
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }
}

.catalogue-choice {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    &__btn {
        font-family: $secondFont;
        color: $colourFont;
        @include response-font(15, 11);
        padding: 5px 15px 5px 10px;
        margin-bottom: 5px;
        border: 1px solid $colourFont;
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        @media (max-width: $md4) {
            padding: 3px 10px 3px 6px;
        }
        &:last-child {
            margin-right: 0;
        }
        span {
            margin-left: 5px;
            pointer-events: none;
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                background-color: $crumbsColour;
                transform: rotate(-45deg);
                width: 10px;
                height: 2px;
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                background-color: $crumbsColour;
                transform: rotate(45deg);
                width: 10px;
                height: 2px;
            }
        }
    }
    &__clear {
        font-family: $secondFont;
        // font-size: 15px;
        @include response-font(15, 11);
        color: $colourFont;
        border-bottom: 3px solid $colourFont;
    }
}

[data-grid-col='4'] {
    .goods__card {
        flex: 0 0 23%;
        @media (max-width: $md3) {
            flex: 0 0 32%;
        }
        @media (max-width: $md4) {
            flex: 0 0 48%;
        }
        @media (max-width: $md5) {
            flex: 0 0 98%;
        }
    }
}

[data-grid-col='3'] {
    .goods__card {
        flex: 0 0 31.5%;
    }
}

[data-grid-col='5'] {
    .goods__card {
        flex: 0 0 18.5%;
    }
}

[data-grid-col='2'] {
    .goods__card {
        flex: 0 0 48%;
    }
}

[data-grid-col='1'] {
    .goods__card {
        flex: 0 0 98.5%;
    }
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    margin: auto;
    @media (max-width: $md3) {
        max-width: 200px;
    }
    &__link {
        display: flex;
        padding: 15px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border: 1px solid #000000;
        @media (max-width: $md3) {
            padding: 10px;
        }
        @media (max-width: $md4) {
            padding: 7px;
        }
        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
        span {
            // font-size: 12px;
            @include response-font(12, 8);
            font-weight: 700;
        }
    }
}
