@use 'sass:math';
.column-of-articles {
    margin-bottom: 30px;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__main {
        flex: 1 1 848px;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
        margin-right: 30px;
        @media (max-width: $md2) {
            margin-right: 20px;
            padding: 15px;
        }
        @media (max-width: $md3) {
            flex: 1 1 100%;
            margin-right: 0;
        }
        @media (max-width: $md4) {
            padding: 10px;
        }
    }

    &__aside {
        flex: 0 0 263px;
        background-color: #fff;
        border-radius: 10px;
        @media (max-width: $md2) {
            flex: 0 0 220px;
        }
        @media (max-width: $md3) {
            display: none;
        }
    }
}
.main-colArt {
    &__item {
        display: flex;
        align-items: flex-start;
    }
}
.item-colArt {
    &__img {
        flex: 1 0 335px;
        margin-right: 25px;
        @media (max-width: $md2) {
            margin-right: 20px;
            flex: 1 0 275px;
        }
        @media (max-width: $md3) {
            flex: 1 0 250px;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
}
.descript-colArt {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        @include response-font(12, 8);
        line-height: math.div(15, 12) * 100%;
    }

    &__main {
        margin: 15px 0;
        @media (max-width: $md2) {
            margin: 10px 0;
        }

        h3 {
            @include response-font(20, 14);
            line-height: math.div(25, 20) * 100%;
            font-family: $thirdFont;
            margin-bottom: 10px;
            max-height: 60px;
            overflow: hidden;
        }
        p {
            @include response-font(14, 10);
            line-height: math.div(20, 14) * 100%;
            max-height: 75px;
            overflow: auto;
            @media (max-width: 600px) {
                max-height: 85px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;
        color: $amountColour;
    }
}
.icon-bookmark:before::hover {
    display: block;
    color: #eb5757;
}
.bottom-colArt {
    &__date {
        @include response-font(12, 8);
        line-height: math.div(15, 12) * 100%;
    }

    &__comments {
        @include response-font(12, 8);
        line-height: math.div(15, 12) * 100%;
    }

    &__likes {
        @include response-font(12, 8);
        line-height: math.div(15, 12) * 100%;
    }
}
.icon-comment::before {
    margin-right: 5px;
}
.icon-heart::before {
    margin-right: 5px;
}
.aside-colArt {
    &__top {
        text-align: center;
        max-height: 60px;
        height: 100%;
        padding: 20px;
        border-bottom: 1px solid #d9dadb;
        h4 {
            @include response-font(14, 10);
            line-height: math.div(20, 14) * 100%;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__main {
        padding: 0 25px;
        @media (max-width: $md2) {
            padding: 0 15px;
        }
    }

    &__item {
        border-bottom: 1px solid #d9dadb;
        padding: 17px 0;
        display: flex;
        align-items: flex-start;
    }

    &__img {
        flex: 0 0 60px;
        height: 60px;
        margin-right: 10px;
    }

    &__text {
        p {
            @include response-font(14, 10);
            line-height: math.div(20, 14) * 100%;
            margin-bottom: 1px;
            color: #4b5157;
            max-height: 46px;
            overflow: auto;
        }
        span {
            @include response-font(12, 8);
            line-height: math.div(15, 12) * 100%;
            color: #939699;
        }
    }

    &__bottom {
        text-align: center;
        max-height: 45px;
        height: 100%;
        padding: 14px;
        border-top: 1px solid #d9dadb;
        h5 {
            @include response-font(14, 10);
            line-height: math.div(20, 14) * 100%;
            text-align: center;
            color: #262d33;
        }
    }
}
