.column-of-articles {
    margin-bottom: 30px;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__main {
        flex: 0 0 848px;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
    }

    &__aside {
        flex: 0 0 263px;
        background-color: #fff;
        border-radius: 10px;
    }
}
.main-colArt {
    &__item {
        display: flex;
        align-items: flex-start;
    }
}
.item-colArt {
    &__img {
        flex: 1 0 335px;
        margin-right: 25px;
    }

    &__descript {
    }
}
.descript-colArt {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        @include response-font(12, 8);
        line-height: 15/12 * 100%;
    }

    &__main {
        margin: 15px 0 20px 0;
        h3 {
            @include response-font(20, 14);
            line-height: 25/20 * 100%;
            font-family: $thirdFont;
            margin-bottom: 10px;
            max-height: 63px;
            overflow: auto;
        }
        p {
            @include response-font(14, 10);
            line-height: 20/14 * 100%;
            max-height: 63px;
            overflow: auto;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;
        color: $amountColour;
    }
}
.icon-bookmark:before::hover {
    display: block;
    color: #eb5757;
}
.bottom-colArt {
    &__date {
        @include response-font(12, 8);
        line-height: 15/12 * 100%;
    }

    &__comments {
        @include response-font(12, 8);
        line-height: 15/12 * 100%;
    }

    &__likes {
        @include response-font(12, 8);
        line-height: 15/12 * 100%;
    }
}
.icon-comment::before {
    margin-right: 5px;
}
.icon-heart::before {
    margin-right: 5px;
}
.aside-colArt {
    &__top {
        max-height: 60px;
        height: 100%;
        padding: 20px 25px;
        border-bottom: 1px solid #d9dadb;
        h4 {
            @include response-font(14, 10);
            line-height: 20/14 * 100%;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__main {
        padding: 0 25px;
    }

    &__item {
        border-bottom: 1px solid #d9dadb;
        padding: 17px 0;
        display: flex;
        align-items: flex-start;
    }

    &__img {
        flex: 0 0 60px;
        height: 60px;
        margin-right: 10px;
    }

    &__text {
        p {
            @include response-font(14, 10);
            line-height: 20/14 * 100%;
            margin-bottom: 1px;
            color: #4b5157;
            max-height: 42px;
            overflow: auto;
        }
        span {
            @include response-font(12, 8);
            line-height: 15/12 * 100%;
            color: #939699;
        }
    }

    &__bottom {
        max-height: 45px;
        height: 100%;
        padding: 14px 95px;
        border-top: 1px solid #d9dadb;
        h5 {
            @include response-font(14, 10);
            line-height: 20/14 * 100%;
            text-align: center;
            color: #262d33;
        }
    }
}
