.crumbs {
    &__container {
        padding: 30px 5px;
        border-bottom: 1px solid $crumbsColour;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        margin-right: 35px;
        &::after {
            content: '/';
            position: absolute;
            right: -20px;
            top: 10%;
            color: $crumbsColour;
            font-size: 12px;
            transform: translateX(-50%);
        }

        &:last-child {
            margin: 0;
            &::after {
                content: '';
            }
        }
    }

    &__link {
        color: $crumbsColour;
        @include response-font(12, 8);
        text-transform: uppercase;
        &_curr {
            color: $crumbActiveColour;
            font-weight: 700;
        }
    }
}

.crumbs .card-prev,
.crumbs .card-next {
    display: none;
}

.card {
    .crumbs .card-prev,
    .crumbs .card-next {
        display: inline-block;
        // margin-left: 20px;
    }
    .crumbs__container {
        display: flex;
        align-items: center;
    }
}
