$fontFamily: 'Lato';
$secondFont: 'Lato-Bold';
$thirdFont: 'Roboto-Bold';

$maxWidth: 1366px;
$minWidth: 320px;
$contWidth: 1170px;
$md1: $contWidth;
$md2: 992px;
$md3: 768px;
$md4: 480px;
$md5: 375px;

$indexSliderWidth: 1200px;
$catalogSliderWidth: 1300px;

$bgColour: #e5e5e5;
$bgColourHeader: #fff;
$bgColourFooter: #fff;
$bannerHeadline: #fff;
$menuLink: #fff;
$amountColour: #939699;
$dateColour: #939699;
$btnColour: #ffffff;
$btnBgColour: #4592ff;
$headerFixed: rgba(216, 216, 216, 0.7);
$asideBG: #6e99ae;
$transparentColour: transparent;
$menuBg: #262d33;
$bannerBg: #30363d;
$burger: #262d33;
$error: red;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: $minWidth;
    position: relative;
}
body {
    font-size: 16px;
    background-color: $bgColour;
    font-family: $fontFamily;
    &.lock {
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    // outline: 1px solid red;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:focus,
a:active {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}
input,
button,
textarea {
    font-family: $fontFamily;
}
button {
    cursor: pointer;
    border-radius: 5px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: $btnColour;
    background-color: $btnBgColour;
}
.btn_search {
    background-color: $transparentColour;
    color: $transparentColour;
    font-size: 0;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    max-width: $maxWidth;
    margin: 0 auto;
    background-color: $bgColour;
}
.container {
    max-width: $contWidth;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    margin-top: 220px;
    flex: 1 1 auto;
    @media (max-width: $md3) {
        margin-top: 160px;
    }
}

.headline {
    color: #262d33;
    font-family: $secondFont;
}
.text {
    color: #4b5157;
    font-family: $fontFamily;
}
.foodTitle {
    color: #3bbdc4;
}
.carsTitle {
    color: #6e99ae;
}
.moviesTitle {
    color: #ac8ee3;
}
.nflTitle {
    color: #ffa34d;
}
.techTitle {
    color: #3dc47e;
}
.flightsTitle {
    color: #4592ff;
}
.scienceTitle {
    color: #ff4f52;
}
.healthTitle {
    color: #3bbdc4;
}
.artTitle {
    color: #ac8ee3;
}
.careersTitle {
    color: #6e99ae;
}
.destinationTitle {
    color: #4592ff;
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.copyright {
    &::before {
        content: '©';
        display: inline-block;
        padding-right: 5px;
    }
}

.registerTM {
    &::after {
        content: '®';
        display: inline-block;
        padding-left: 5px;
    }
}
.trademark {
    &::after {
        content: '™';
        display: inline-block;
        padding-left: 5px;
    }
}
.euro {
    &::after {
        content: '£';
        display: inline-block;
        padding-left: 5px;
    }
}

.brit-pound {
    &::after {
        content: '£';
        display: inline-block;
        padding-left: 5px;
    }
}

.dollar {
    &::after {
        content: '$';
        display: inline-block;
        padding-left: 5px;
    }
}

.rub {
    &::after {
        content: '₽';
        display: inline-block;
        padding-left: 5px;
    }
}
