.footer-grid {
    background-color: pink;
    display: grid;
    grid-area: footer-grid;
    grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    padding: 15px;
}

@media (min-width: $md5) {
    .footer-grid__copy {
        grid-column: 2/3;
    }
    .footer-grid__text {
        grid-column: 3/4;
        text-align: right;
    }
}

@media (max-width: $md5) {
    .footer-grid {
        grid-template: repeat(2, 1fr) / 1fr;
        text-align: center;
    }
    .footer-grid__copy {
        order: 2;
    }
    .footer-grid__text {
        order: 1;
    }
}
