.footer {
    background-color: $bgColourFooter;
    &__container {
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__column {
        flex: 0 1 16.6%;
        padding-top: 30px;
        border-top: 5px solid;
        @media (max-width: $md3) {
            padding-top: 20px;
        }
        @media (max-width: 600px) {
            flex: 0 1 32%;
        }
        &_news {
            border-color: #ff4f52;
        }
        &_arts {
            border-color: #ac8ee3;
        }
        &_travel {
            border-color: #4592ff;
        }
        &_sport {
            border-color: #ffa34d;
        }
        &_tech {
            border-color: #3dc47e;
        }
        &_money {
            border-color: #6e99ae;
        }
    }

    &__title {
        font-family: $secondFont;
        @include response-font(14, 11);
        line-height: 20/14 * 100%;
        font-weight: 700;
    }

    &__list {
        margin-top: 20px;
        @media (max-width: $md3) {
            margin-top: 15px;
        }
    }

    &__item {
        margin: 10px 0;
        @media (max-width: $md3) {
            margin: 7px 0;
        }
    }

    &__link {
        @include response-font(14, 10);
        line-height: 20/14 * 100%;
    }
}

.footer__rights {
    border-top: 1px solid black;
    margin-top: 40px;
    @media (max-width: $md3) {
        margin-top: 20px;
    }
}

.rights__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    @media (max-width: $md3) {
        padding: 10px;
        flex-direction: column;
    }
}

.rights {
    &__social {
        display: flex;
        align-items: center;
    }
    &__links {
        display: flex;
        align-items: center;
        @media (max-width: $md3) {
            margin-bottom: 30px;
        }
    }
    &__links a {
        margin-right: 15px;
        text-transform: uppercase;
        font-weight: 700;
        @include response-font(14, 9);
        line-height: 20/14 * 100%;
        &:first-child {
            @media (max-width: $md4) {
                display: none;
            }
        }
        @media (max-width: $md4) {
            margin-right: 10px;
        }
    }
}
.social {
    &__link {
        margin: 0 7px;
        height: 40px;
        width: 40px;
        @media (max-width: $md3) {
            height: 30px;
            width: 30px;
        }
    }
}

.footer {
    &__properties {
        min-height: 115px;
        padding: 40px 10px;
        @media (max-width: $md3) {
            padding: 20px 10px;
            min-height: 80px;
        }
        @media (max-width: $md5) {
            padding: 10px;
            min-height: 60px;
        }
    }
}
.properties {
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }

    &__text {
        max-width: 650px;
        min-height: 40px;
        overflow: auto;
        color: $dateColour;
        @include response-font(14, 7);
        line-height: 20/14 * 100%;
    }

    &__copy {
        color: $dateColour;
        @include response-font(14, 7);
        line-height: 20/14 * 100%;
        white-space: nowrap;
        margin-left: 20px;
    }
}
