@use 'sass:math';
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__top {
        background-color: $bgColourHeader;
    }
    &__bottom {
        background-color: $bgColourHeader;
    }

    &__btn {
        margin-right: 10px;
    }

    &__nav {
        background-color: $menuBg;
        padding: 18px 0;
        @media (max-width: $md3) {
            display: none;
        }
    }
}
.top-header {
    &__container {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d9dadb;
    }

    &__column {
        flex: 0 1 100%;
        display: flex;
        align-items: center;
        margin-bottom: -10px;
    }
}
.column-top {
    &_auth {
        flex: 0 1 50%;
    }

    &__sections {
        display: flex;
        align-items: center;
        border-right: 1px solid #d9dadb;
        flex: 0 1 115px;
        @media (max-width: $md5) {
            flex: 0 1 30px;
        }
    }

    &__headline {
        margin-left: 15px;
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        color: #262d33;
        @media (max-width: $md5) {
            display: none;
        }
    }

    &__search {
        padding: 0 25px;
        width: 100%;
        @media (max-width: $md4) {
            padding: 0 15px;
        }
    }

    &__subscribe {
        display: flex;
        align-items: center;
    }

    &__sign {
        display: flex;
        align-items: center;
        margin-left: 25px;
        min-width: 80px;
        @media (max-width: $md4) {
            margin-left: 10px;
            min-width: 70px;
        }
        @media (max-width: $md5) {
            min-width: 60px;
        }
    }
}
.search-header {
    &__input {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        input {
            @include response-font(14, 9);
            line-height: math.div(20, 14) * 100%;
            width: 100%;
        }
    }
}
.icon-search::before {
    @include response-font(20, 12);
}
.subscribe-header {
    &__img {
        margin-right: 10px;
        @media (max-width: $md2) {
            display: none;
        }
    }

    &__offer {
        min-width: 120px;
        @media (max-width: $md4) {
            min-width: 80px;
        }
    }

    &__headline {
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        color: #262d33;
    }

    &__text {
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        color: #939699;
    }
}
.sign-header {
    &__span {
        margin: 0 5px;
        color: #4b5157;
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        @media (max-width: $md4) {
            margin: 0 3px;
        }
    }
}
.icon-sign-in::before {
    @include response-font(20, 12);
}
.bottom-header {
    &__container {
        height: 84px;
        display: flex;
        align-items: center;
        @media (max-width: $md4) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        &:last-child {
            justify-content: flex-end;
            @media (max-width: $md4) {
                justify-content: space-between;
            }
        }
        @media (max-width: $md4) {
            flex: 0 1 100%;
        }
        &_logo {
            flex: 0 0 184px;
            @media (max-width: $md2) {
                flex: 0 0 160px;
            }
            @media (max-width: $md3) {
                flex: 0 0 150px;
                margin: 0 10px;
            }
            @media (max-width: $md4) {
                flex: 0 0 auto;
            }
        }
    }
}
.column-bottom {
    &__img {
        margin-left: 26px;
        @media (max-width: $md2) {
            margin-left: 15px;
            width: 80px;
        }
        @media (max-width: 600px) {
            display: none;
            margin-left: 0;
        }
    }

    &__place {
        margin-left: 15px;
        span {
            @include response-font(14, 9);
            line-height: math.div(20, 14) * 100%;
            color: #4b5157;
        }
        @media (max-width: $md2) {
            width: 110px;
            text-align: center;
        }
        @media (max-width: 600px) {
            margin-left: 10px;
        }
        @media (max-width: $md4) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__date {
        width: 195px;
        @media (max-width: $md2) {
            width: 150px;
        }
        @media (max-width: $md3) {
            width: 110px;
            text-align: center;
        }
        @media (max-width: 600px) {
            width: 80px;
        }
        @media (max-width: $md4) {
            flex: 0 1 50%;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__weather {
        margin-left: 23px;
        min-width: 55px;
        @media (max-width: 600px) {
            margin-left: 15px;
            min-width: 40px;
            white-space: nowrap;
        }
        @media (max-width: $md4) {
            flex: 0 1 50%;
        }
    }
}

.date-header {
    &__span {
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        color: #4b5157;
    }
}
.weather-header {
    &__span {
        @include response-font(14, 9);
        line-height: math.div(20, 14) * 100%;
        color: #4b5157;
    }
}
.icon-weather::before {
    @include response-font(14, 9);
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        @include response-font(14, 12);
        line-height: math.div(20, 14) * 100%;
        color: $menuLink;
        text-transform: uppercase;
    }
}
