.hero {
    height: 100vh;
    min-height: 600px;
    position: relative;
    // margin-top: 200px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000;
    }

    &__container {
        margin: 0 auto;
        padding: 10px;
        width: $indexSliderWidth;
        position: relative;
        height: 100vh;
        // border: 1px solid $colourFont;
        @media (max-width: $indexSliderWidth) {
            width: 100%;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // width: 1300px;
        height: 100vh;
        @media (max-width: $md3) {
            justify-content: flex-start;
            padding-top: 20%;
        }
        @media (max-width: $md4) {
            align-items: center;
            padding-top: 25%;
        }
        @media (max-width: $md5) {
            padding-top: 50%;
        }
    }

    &__title {
        font-family: $secondFont;
        @include response-font(70, 18);
        font-weight: 700;
        max-width: 500px;
        margin-bottom: 30px;

        @media (max-width: $md3) {
            max-width: 40%;
            z-index: 2;
        }
        @media (max-width: $md4) {
            max-width: 90%;
        }
    }

    &__dscr {
        @include response-font(21, 11);
        line-height: 27/21 * 100%;
        max-width: 450px;
        min-height: 80px;
        overflow: hidden;
        max-height: 190px;

        @media (max-width: $md3) {
            max-width: 40%;
            z-index: 2;
        }
        @media (max-width: $md4) {
            max-width: 90%;
        }
    }

    &__pic {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 100%;
        max-width: 100%;
        @media (max-width: $md2) {
            max-width: 55%;
            right: 50px;
        }
        @media (max-width: $md3) {
            max-width: 100%;
            right: 0;
        }
    }
}
