.subscribe {
    max-width: $contWidth;
    margin: 0 auto;
    padding: 60px 0;
    background-color: $bgColourFooter;

    & * {
        outline: none;
    }

    &__title {
        @include response-font(40, 32);
        line-height: 50/40 * 100%;
        font-family: $thirdFont;
        margin-bottom: 25px;
        text-align: center;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__label {
        font-size: 0px;
        display: none;
    }

    &__input {
        height: 40px;
        padding: 0 15px;
        border: 1px solid #d9dadb;
        border-radius: 5px;
        width: 315px;
        @include response-font(14, 10);
        line-height: 20/14 * 100%;
        margin-right: 10px;
        &:focus {
            box-shadow: 0 0 10px $btnBgColour;
        }
        &._error {
            box-shadow: 0 0 15px $error;
        }
    }

    &__button {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $btnBgColour;
        color: $btnColour;
        min-height: 40px;
        border-radius: 20px;
        @include response-font(14, 10);
        line-height: 20/14 * 100%;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:active {
            transform: scale(1.02);
        }
    }
}
