.tabs-JS {
    margin-bottom: 50px;
}

.control-panel {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: $bgColour;
}

.control {
    display: inline-block;
    margin: 0 50px;
    padding: 0 10px;
    height: 100%;
    line-height: 50px;
    font-family: $secondFont;
    @include response-font(24, 12);
    color: $colourFont;
    transition: border-bottom 0.2s;
    cursor: pointer;
    &:hover,
    &.active {
        border-bottom: 4px solid $btnBgColour;
    }
    @media (max-width: $md5) {
        margin: 0 15px;
        padding: 0 5px;
    }
}

.tabs-container {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    // overflow-x: hidden;
    padding-bottom: 50px;
}

.tabs-page {
    position: relative;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    transition: left 0.5s;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 0 100%;
    padding: 20px;
    width: 100%;
}
.tab__show-more {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    span {
        @include response-font(24, 12);
        font-weight: 700;
        text-transform: capitalize;
        border: 1px solid $colourFont;
        border-radius: 7px;
        padding: 15px;
    }
}
