.section {
    margin: 50px 0;
    @media (max-width: $md4) {
        margin: 25px 0;
    }
    &__container {
        @media (max-width: $md4) {
            padding: 0 10px;
        }
    }
}
.pure-tabs {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__top {
        display: flex;
        flex-direction: column;
        background-color: $bgColour;
        flex: 0 0 265px;
        @media (max-width: $md2) {
            flex: 0 0 230px;
        }
        @media (max-width: $md3) {
            flex: 0 0 190px;
        }
        @media (max-width: $md4) {
            flex: 0 0 120px;
        }
    }

    &__caption {
        flex: 1;
        padding: 18px 25px;
        cursor: pointer;
        transition: 0.4s;
        position: relative;
        height: auto;
        @media (max-width: $md2) {
            padding: 14px 20px;
        }
        @media (max-width: $md4) {
            padding: 5px 10px;
        }

        &_active::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-color: $bgColour;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            left: -10px;
            @media (max-width: $md4) {
                height: 10px;
                width: 10px;
                left: -4px;
            }
        }
        span {
            @include response-font(12, 10);
        }
        p {
            margin-top: 8px;
            max-height: 40px;
            overflow: auto;
            @include response-font(14, 10);
            @media (max-width: $md4) {
                margin-top: 5px;
                max-height: 50px;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        position: relative;
        transition: 0.3s;
    }

    &__content {
        display: none;
        padding: 0px;
        color: black;
        opacity: 0;
        transform-origin: center top;
        animation: showContent 0.3s forwards;
        &_active {
            display: block;
        }
    }

    &__img {
        position: relative;
        img {
            height: auto;
            @media (max-width: $contWidth) {
                height: 535px;
                width: 100%;
            }
            @media (max-width: $md2) {
                height: 480px;
            }
            @media (max-width: $md4) {
                height: 415px;
            }
            @media (max-width: $md5) {
                height: 400px;
            }
        }
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $transparentColour;
        padding: 55px;
        @media (max-width: $md2) {
            padding: 40px;
        }
        @media (max-width: $md4) {
            padding: 20px;
        }
    }
    &__headline {
        height: 60px;
        padding: 20px 25px;
        @include response-font(14, 10);
        line-height: 20/14 * 100%;
        text-transform: uppercase;
        @media (max-width: $md2) {
            padding: 15px 20px;
        }
        @media (max-width: $md3) {
            padding: 10px 15px;
            height: auto;
        }
        @media (max-width: $md4) {
            padding: 5px 10px;
        }
    }
}
@-webkit-keyframes showContent {
    0% {
        transform: scaleY(0.9);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes showContent {
    0% {
        transform: scaleY(0.8);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.cover-tabs {
    &__ava {
        max-width: 180px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $md4) {
            max-width: 150px;
        }
    }

    &__name {
        height: auto;
        overflow: auto;
        h4 {
            font-weight: 400;
            @include response-font(14, 10);
            line-height: 20/14 * 100%;
            color: #fff;
        }
        p {
            @include response-font(12, 9);
            line-height: 15/12 * 100%;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &__description {
        margin-top: 145px;
        @media (max-width: $md4) {
            margin-top: 80px;
        }
        h4 {
            font-weight: 400;
            @include response-font(12, 10);
            line-height: 15/12 * 100%;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        h2 {
            width: 600px;
            height: auto;
            @include response-font(40, 21);
            line-height: 50/40 * 100%;
            color: #fff;
            margin-bottom: 45px;
            font-family: $thirdFont;
            @media (max-width: $md2) {
                width: auto;
            }
        }
    }

    &__btn {
        padding: 10px 25px;
        border-radius: 20px;
    }
}
.btn {
    @include response-font(14, 12);
    line-height: 20/14 * 100%;
    color: #fff;
    font-family: $secondFont;
}
