.section-timeline {
    &__container {
        padding: 30px 10px;
    }
}

.timeline {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    &::after {
        content: '';
        position: absolute;
        width: 10px;
        background-color: cadetblue;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: $md4) {
            left: 30px;
        }
    }
    &__branch {
        position: relative;
        width: 50%;
        @media (max-width: $md4) {
            width: 100%;
            padding-right: 0;
            padding-left: 70px;
            margin-top: 20px;
        }
    }
}
.branch {
    &_left {
        left: 0;
        padding-right: 50px;
        @media (max-width: $md4) {
            text-align: left;
        }
    }
    &_left .branch__image {
        right: 0;
        margin-right: -35px;
    }
    &_left .branch__content::before {
        right: -5px;
        @media (max-width: $md4) {
            left: -5px;
        }
    }

    &_right {
        left: 50%;
        padding-left: 50px;
        @media (max-width: $md4) {
            left: 0;
        }
    }
    &_right .branch__image {
        left: 0;
        margin-left: -35px;
        @media (max-width: $md4) {
            margin-left: -15px;
        }
    }
    &_right .branch__content::before {
        left: -5px;
    }

    &__image {
        height: 70px;
        width: 70px;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        @media (max-width: $md4) {
            left: 0;
            margin-right: 0;
            margin-left: -15px;
        }
    }

    &__content {
        padding: 10px;
        background-color: rgb(235, 129, 129);
        position: relative;
        border-radius: 10px;
        &::before {
            content: '';
            height: 10px;
            width: 10px;
            background-color: rgb(235, 129, 129);
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
