.recommend {
    margin: 30px 0;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.vertical-tabs {
    display: flex;
    flex-direction: column;
    @media (max-width: $md5) {
        flex-direction: row;
    }
}
.vertical-tabs-content {
    margin-left: 50px;
    margin-top: 15px;
    @media (max-width: $md5) {
        margin-top: 5px;
        margin-left: 5px;
        min-height: 117px;
        max-height: 120px;
    }
}
.vertical-tabs li {
    display: inline-block;
    padding: 17px 25px;
    height: 99px;
}
.vertical-tabs li span {
    display: inline-block;
    cursor: pointer;
    // font-size: 21px;
    @include response-font(18, 9);
    line-height: 24/21 * 100%;
    text-transform: uppercase;
}
.vertical-tabs .active {
    background: gray;
}
.vertical-tabs .active span {
    color: $bgColour;
    border-bottom: none;
}

.item {
    display: none;
    margin-left: 13px;
    min-height: 72px;
    max-height: 145px;
    overflow: hidden;
    p {
        // font-size: 16px;
        @include response-font(16, 11);
        line-height: 24/16 * 100%;
    }
}
.item.active {
    display: block;
}
