<div class="container">
    <div class="accordion">
        <ul class="accordion__list">
            <li class="accordion__item">
                <div class="accordion__title">
                    <h2>Item 1</h2>
                    <span class="accordion__icon"></span>
                </div>
                <div class="accordion__content">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Fugiat esse asperiores eaque vitae architecto
                        voluptatum voluptates quas deleniti magni distinctio
                        minus ea excepturi reiciendis quia ipsa similique minima
                        veritatis maiores neque dolor totam ducimus soluta,
                        temporibus labore. Placeat atque ullam delectus, nemo
                        nam cumque, saepe voluptatibus quo ratione doloribus
                        unde.
                    </p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion__title">
                    <h2>Item 2</h2>
                    <span class="accordion__icon"></span>
                </div>
                <div class="accordion__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sed corporis aliquam provident, obcaecati recusandae
                        tempora? Sit, provident quos eos tempora sequi sunt
                        atque perspiciatis sapiente commodi alias placeat est
                        modi dolor molestiae beatae. Dolor pariatur illum
                        reiciendis fugiat maxime, repellat excepturi odio in
                        quos dolorem modi at totam harum beatae iure iusto
                        nobis. Aut est quod sed necessitatibus error accusantium
                        voluptas totam pariatur. Quae dolorem consequuntur,
                        obcaecati praesentium facere possimus?
                    </p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion__title">
                    <h2>Item 3</h2>
                    <span class="accordion__icon"></span>
                </div>
                <div class="accordion__content">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Est eveniet enim itaque nulla autem nostrum
                        eligendi non cum assumenda aliquid, sapiente ullam at
                        hic, dolorem voluptatibus officia possimus quibusdam!
                        Expedita.
                    </p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion__title">
                    <h2>Item 4</h2>
                    <span class="accordion__icon"></span>
                </div>
                <div class="accordion__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Perspiciatis qui quidem dolor eveniet suscipit hic
                        quam, ullam at? Esse libero ipsum vitae, maxime,
                        deleniti perferendis itaque a aliquid voluptatum animi
                        dolorem! Nemo culpa excepturi magni corrupti minus
                        laboriosam harum dicta beatae fuga omnis voluptates ut,
                        vel iste labore, necessitatibus, quidem repellat modi!
                        Dicta dolor fugiat recusandae quibusdam repellendus,
                        veritatis hic repellat! Tenetur cumque nobis omnis porro
                        eligendi laboriosam ipsum voluptate officia possimus
                        quisquam excepturi, numquam corrupti exercitationem
                        eaque sunt reprehenderit rerum autem incidunt, quibusdam
                        dolorem minus magni reiciendis impedit perferendis.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
