<section class="articles">
    <div class="articles__container container">
        <article class="articles__item item-article item-article_big">
            <div class="item-article__main main-art">
                <div class="main-art__column">
                    <div class="main-art__labels">
                        <div class="main-art__label carsTitle">Cars</div>
                    </div>
                    <h3 class="main-art__headliine headline">
                        The joy of replicas: A $ 5 million car for $ 50,000
                    </h3>
                    <p class="main-art__text text">
                        Coffee drinkers may excrete more calcium, but it doesn’t appear to weaken
                        bones
                    </p>
                </div>
                <div class="main-art__column">
                    <div class="main-art__image">
                        <img src="img/articles1/01.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div class="item-article__bottom bottom-art">
                <div class="bottom-art__img">
                    <img src="img/articles1/ava1.png" alt="avatar" />
                </div>
                <p class="bottom-art__quote">
                    <span>Jessica Miller:</span>
                    Even as the ride-hailing service’s future remem…
                </p>
                <div class="bottom-art__comments">
                    <span class="icon-comment">342</span>
                </div>
            </div>
        </article>
        <article class="articles__item item-article item-article_span21">
            <div class="span21__cover">
                <img src="img/articles1/02.jpg" alt="cover" />
            </div>
            <div class="span21__content">
                <div class="span21__labels">
                    <div class="span21__label">Popular</div>
                </div>
                <div class="span21__descript descript-span21">
                    <span class="descript-span21__span">Art & Design</span>
                    <h3 class="descript-span21__headline headline">
                        Invisible ink: the weird world of tattoo removal – in pictures
                    </h3>
                    <div class="descript-span21__bottom bottom-span21">
                        <div class="bottom-span21__img">
                            <img src="img/articles1/ava2.png" alt="avatar" />
                        </div>
                        <div class="bottom-span21__context">
                            <h4 class="bottom-span21__headline">By Sarah Jenkins</h4>
                            <p class="bottom-span21__signs">
                                <span>Sept 26</span>
                                <span class="icon-comment">16</span>
                                <span class="icon-heart">832</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="articles__item item-article item-article_aside">
            <div class="aside-article">
                <div class="aside-article__top">
                    <h3>Columns</h3>
                </div>
                <div class="aside-article__column">
                    <div class="aside-article__row">
                        <h3 class="aside-article__title">
                            Architecture is the thoughtful making of space
                        </h3>
                        <div class="aside-article__author author-aside">
                            <div class="author-aside__img">
                                <img src="img/col-aside1/01.png" alt="avatar" />
                            </div>
                            <div class="author-aside__desript">
                                <p>David Williams</p>
                                <span>Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="aside-article__row">
                        <h3 class="aside-article__title">
                            Architecture is the thoughtful making of space
                        </h3>
                        <div class="aside-article__author author-aside">
                            <div class="author-aside__img">
                                <img src="img/col-aside1/01.png" alt="avatar" />
                            </div>
                            <div class="author-aside__desript">
                                <p>David Williams</p>
                                <span>Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="aside-article__row">
                        <h3 class="aside-article__title">
                            Architecture is the thoughtful making of space
                        </h3>
                        <div class="aside-article__author author-aside">
                            <div class="author-aside__img">
                                <img src="img/col-aside1/01.png" alt="avatar" />
                            </div>
                            <div class="author-aside__desript">
                                <p>David Williams</p>
                                <span>Architect</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aside-article__bottom">
                    <h4>Read more</h4>
                </div>
            </div>
        </article>
        <article class="articles__item item-article item-article_span22">
            <div class="span22">
                <div class="span22__img">
                    <img src="img/articles1/03.jpg" alt="image" />
                </div>
                <div class="span22__descript">
                    <h3>200+ Doomed Cats Saved From Euthanization</h3>
                </div>
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">Is Coffee Bad for Bones?</h3>
            <p class="item-article__text text">
                Coffee drinkers may excrete more calcium, but it doesn’t appear to weaken bones
            </p>
            <div class="item-article__date">
                <span>Oct 15</span>
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">What We Manufacture</h3>
            <p class="item-article__text text">
                A global history of the factory and the modern world that all should read
            </p>
            <div class="item-article__date">
                <span>Oct 14</span>
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">It’s a Stressful World</h3>
            <p class="item-article__text text">
                Can a cruise skeptic enjoy four days on the seas with his family and a bunch of
                princesses?
            </p>
            <div class="item-article__date">
                <span>Oct 14</span>
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">A Treat for Lemon Lovers</h3>
            <p class="item-article__text text">
                This tangerine, ginger and chocolate tart has verve, depth and a hint of spice
            </p>
            <div class="item-article__date">
                <span>Oct 13</span>
            </div>
        </article>
    </div>
</section>
