<section class="banner">
    <div class="banner__container container">
        <article class="banner__card card-banner">
            <h3 class="card-banner__headline headline">
                25 Songs That Tell Us Where Music Is Going
            </h3>
            <div class="card-banner__img">
                <img src="img/banner/01.jpg" alt="img-01" />
            </div>
        </article>
        <article class="banner__card card-banner">
            <h3 class="card-banner__headline headline">
                These Ancient Assassins Eat Their Own Kind
            </h3>
            <div class="card-banner__img">
                <img src="img/banner/02.jpg" alt="img-02" />
            </div>
        </article>
        <article class="banner__card card-banner">
            <h3 class="card-banner__headline headline">
                How Do You Teach People to Love Difficult Music?
            </h3>
            <div class="card-banner__img">
                <img src="img/banner/03.jpg" alt="img-03" />
            </div>
        </article>
        <article class="banner__card card-banner">
            <h3 class="card-banner__headline headline">International Soccer’s Man of Mystery</h3>
            <div class="card-banner__img">
                <img src="img/banner/04.jpg" alt="img-04" />
            </div>
        </article>
    </div>
</section>
