<section class="banner banner_one">
    <div class="banner__picture banner__picture_first ibg">
        <div class="picture__container">
            <h4 class="picture__title">try for free</h4>
            <h2 class="picture__headline">free 5 days pass</h2>
            <a href="#!" class="btn picture__btn">Get in touch</a>
        </div>
    </div>
    <div class="banner__picture banner__picture_first ibg">
        <div class="picture__container">
            <h4 class="picture__title">try for free</h4>
            <h2 class="picture__headline">free 5 days pass</h2>
            <a href="#!" class="btn picture__btn">Get in touch</a>
        </div>
    </div>
    <div class="banner__picture banner__picture_first ibg">
        <div class="picture__container">
            <h4 class="picture__title">try for free</h4>
            <h2 class="picture__headline">free 5 days pass</h2>
            <a href="#!" class="btn picture__btn">Get in touch</a>
        </div>
    </div>
</section>
