<section class="bottom">
    <div class="bottom__container container">
        <article class="bottom__item item-bottom item-bottom_main">
            <div class="bottom-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item-bottom__cover">
                            <img src="img/bottom/01.jpg" alt="cover" />
                        </div>
                        <div class="item-bottom__context context-bottom">
                            <div class="context-bottom__img img-context">
                                <img src="img/bottom/ava1.png" alt="avatar" />
                                <h3>By Sarah Jenkins</h3>
                                <p>Photographer</p>
                            </div>
                            <div class="context-bottom__headline headline">
                                <h2>Readers' Choice winners: Your wine country favorites</h2>
                            </div>
                            <a href="#!" class="context-bottom__btn btn">
                                Watch photos
                                <span class="context-bottom__btn_amount">26</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-bottom__cover">
                            <img src="img/bottom/01.jpg" alt="cover" />
                        </div>
                        <div class="item-bottom__context context-bottom">
                            <div class="context-bottom__img img-context">
                                <img src="img/bottom/ava1.png" alt="avatar" />
                                <h3>By Sarah Jenkins</h3>
                                <p>Photographer</p>
                            </div>
                            <div class="context-bottom__headline headline">
                                <h2>Readers' Choice winners: Your wine country favorites</h2>
                            </div>
                            <a href="#!" class="context-bottom__btn btn">
                                Watch photos
                                <span class="context-bottom__btn_amount">26</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-bottom__cover">
                            <img src="img/bottom/01.jpg" alt="cover" />
                        </div>
                        <div class="item-bottom__context context-bottom">
                            <div class="context-bottom__img img-context">
                                <img src="img/bottom/ava1.png" alt="avatar" />
                                <h3>By Sarah Jenkins</h3>
                                <p>Photographer</p>
                            </div>
                            <div class="context-bottom__headline headline">
                                <h2>Readers' Choice winners: Your wine country favorites</h2>
                            </div>
                            <a href="#!" class="context-bottom__btn btn">
                                Watch photos
                                <span class="context-bottom__btn_amount">26</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </article>
        <article class="bottom__item item-bottom item-bottom_second">
            <div class="item-bottom__column column-item column-item_context">
                <div class="column-item__label">
                    <span class="carsTitle">Careers</span>
                </div>
                <div class="column-item__context">
                    <h2 class="column-item__headline headline">
                        Had a Job Interview but No Callback? Here’s What to Do
                    </h2>
                    <p class="column-item__text text">
                        Try to understand the culture of the company where you want to work and be
                        authentic in your interview, experts emphasize
                    </p>
                </div>
                <button class="column-item__btn btn">Read more</button>
            </div>
            <div class="item-bottom__column column-item column-item_img">
                <img src="img/bottom/02.png" alt="image" />
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">It’s a Stressful World</h3>
            <p class="item-article__text text">
                Can a cruise skeptic enjoy four days on the seas with his family and a bunch of
                princesses?
            </p>
            <div class="item-article__date">
                <span>Oct 14</span>
            </div>
        </article>
        <article class="articles__item item-article">
            <h3 class="item-article__headliine headline">It’s a Stressful World</h3>
            <p class="item-article__text text">
                Can a cruise skeptic enjoy four days on the seas with his family and a bunch of
                princesses?
            </p>
            <div class="item-article__date">
                <span>Oct 14</span>
            </div>
        </article>
    </div>
</section>
