<section class="bottom">
    <div class="bottom__container container">
        <article class="bottom__item item-bottom">
            <div class="item-bottom__cover">
                <img src="img/bottom/01.jpg" alt="cover" />
            </div>
            <div class="item-bottom__context context-bottom">
                <div class="context-bottom__img img-context">
                    <img src="img/bottom/ava1.png" alt="avatar" />
                    <h3 class="img-context__headline headline">By Sarah Jenkins</h3>
                    <p class="img-context__text text">Photographer</p>
                </div>
                <div class="context-bottom__headline headline">
                    <h2>Readers' Choice winners: Your wine country favorites</h2>
                </div>
                <a href="#!" class="context-bottom__btn btn">
                    Watch photos
                    <span class="context-bottom__btn_amount">26</span>
                </a>
            </div>
        </article>
    </div>
</section>
