<div class="burger">
    <div class="burger__icon icon-burger">
        <span></span>
    </div>
    <div class="burger__menu menu-burger">
        <ul class="menu-burger__list list-burger">
            <li class="list-burger__logo">
                <a href="#!">
                    <img src="../img/logo/logo.png" alt="logo" />
                </a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">News</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Opinion</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Science</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Life</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Travel</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Moneys</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Art & Design</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Sports</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">People</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Health</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">Education</a>
            </li>
        </ul>
    </div>
</div>
