<div class="burger">
    <div class="burger__icon icon-burger">
        <span></span>
    </div>
    <div class="burger__menu menu-burger">
        <ul class="menu-burger__list list-burger">
            <li class="list-burger__logo">
                <img src="img/logo/logo.png" alt="" />
            </li>
            <li class="list-burger__item">
                <a href="index.html" class="list-burger__link">home</a>
            </li>
            <li class="list-burger__item">
                <a href="catalogue.html" class="list-burger__link">shop</a>
            </li>
            <li class="list-burger__item">
                <a href="card.html" class="list-burger__link">elements</a>
            </li>
            <li class="list-burger__item">
                <a href="tools.html" class="list-burger__link">tools</a>
            </li>
            <li class="list-burger__item">
                <a href="#!" class="list-burger__link">page</a>
            </li>
        </ul>
    </div>
</div>
