<div class="card-bottom">
    <div class="card-bottom__container container">
        <ul class="vertical-tabs">
            <li class="active">
                <span rel="vertical-tab-1">Details</span>
            </li>
            <li>
                <span rel="vertical-tab-2">Delivery</span>
            </li>
            <li>
                <span rel="vertical-tab-3">Returns</span>
            </li>
        </ul>
        <div class="vertical-tabs-content">
            <div class="item active" id="vertical-tab-1">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Atque nam omnis quod similique at dolor accusantium facere
                    nisi fuga non dicta expedita assumenda quasi, soluta
                    provident itaque consequatur natus fugit vero quo enim id
                    nobis ullam! Dignissimos adipisci quae, nulla, similique
                    quibusdam atque repellendus repudiandae magnam nesciunt
                    nobis sunt dolorum.
                </p>
            </div>
            <div class="item" id="vertical-tab-2">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Necessitatibus, esse?
                </p>
            </div>
            <div class="item" id="vertical-tab-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Voluptatibus minus odit quasi, quisquam illum placeat odio
                    facilis mollitia praesentium aliquam!
                </p>
            </div>
        </div>
    </div>
    <div class="card-bottom__container container">
        <div class="related-products">
            <h2 class="related-products__title">related products</h2>
            <div class="related-products__list">
                <div class="related-products__item item-related">
                    <a href="#!" class="item-related__img">
                        <img src="img/goods/cactus.jpg" alt="01" />
                    </a>
                    <div class="item-related__descript">
                        <h3 class="item-related__headline">Sarra Miller</h3>
                        <h3 class="item-related__title">spinning trainer</h3>
                        <p class="item-related__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. A optio, perspiciatis
                            blanditiis cupiditate culpa repellat ipsa illum illo
                            dolorem veritatis pariatur, recusandae modi eum,
                            error quibusdam magni. Repudiandae quod odit rerum
                            rem! Reprehenderit magnam eius sed. Neque explicabo,
                            deleniti cum autem similique facere cupiditate
                            debitis, delectus eaque optio assumenda distinctio!
                            Adipisci repudiandae ut explicabo at voluptate vel
                            illum veniam, rerum perferendis optio ipsum error
                            molestias, esse temporibus nihil omnis earum magni
                            quis beatae exercitationem quasi eos recusandae.
                            Soluta animi ipsam rem eum reprehenderit in
                            voluptatem magnam error hic? Totam at amet earum
                            adipisci et temporibus sequi voluptas culpa rerum
                            aperiam ad reprehenderit illo quae molestiae, fuga
                            est cum sed mollitia aliquam sunt cupiditate. Nemo
                            odio, ab rem cum laborum placeat, illum saepe
                            dolores, enim corrupti tempora id provident quisquam
                            minima.
                        </p>
                    </div>
                </div>
                <div class="related-products__item item-related">
                    <a href="#!" class="item-related__img">
                        <img src="img/goods/cactus.jpg" alt="01" />
                    </a>
                    <div class="item-related__descript">
                        <h3 class="item-related__headline">Sarra Miller</h3>
                        <h3 class="item-related__title">spinning trainer</h3>
                        <p class="item-related__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="related-products__item item-related">
                    <a href="#!" class="item-related__img">
                        <img src="img/goods/cactus.jpg" alt="01" />
                    </a>
                    <div class="item-related__descript">
                        <h3 class="item-related__headline">Sarra Miller</h3>
                        <h3 class="item-related__title">spinning trainer</h3>
                        <p class="item-related__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="related-products__item item-related">
                    <a href="#!" class="item-related__img">
                        <img src="img/goods/cactus.jpg" alt="01" />
                    </a>
                    <div class="item-related__descript">
                        <h3 class="item-related__headline">Sarra Miller</h3>
                        <h3 class="item-related__title">spinning trainer</h3>
                        <p class="item-related__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
