<div class="card-top">
    <div class="card-top__container container">
        <div class="card-top__left">
            <div class="card-slider">
                <div class="card-slider__thumbs">
                    <div class="card-slider__thumb">
                        <img src="img/card/01.webp" alt="Happy New Year" />
                    </div>
                    <div class="card-slider__thumb">
                        <img src="img/card/02.webp" alt="Happy New Year" />
                    </div>
                    <div class="card-slider__thumb">
                        <img src="img/card/03.webp" alt="Happy New Year" />
                    </div>
                    <div class="card-slider__thumb">
                        <img src="img/card/04.webp" alt="Happy New Year" />
                    </div>
                    <div class="card-slider__thumb">
                        <img src="img/card/05.webp" alt="Happy New Year" />
                    </div>
                </div>
                <div class="card-slider__main">
                    <img src="img/card/01.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="card-top__right">
            <div class="card-info">
                <span class="card-info__prop">best gifts</span>
                <h3 class="card-info__title">happy new year's tree</h3>
                <div class="card-info__rate">
                    <img src="img/card/star-rating.png" alt="" />
                    <span>5 reviews</span>
                </div>
                <div class="card-info__price card-price">
                    <div class="card-price__current rub">230.00</div>
                    <div class="card-price__old rub">290.00</div>
                </div>
                <p class="card-info__descr">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit,
                    deleniti labore ipsa optio fuga ex perspiciatis delectus laboriosam reiciendis
                    dolore!
                </p>
                <div class="card-info__select colour-select">
                    <p class="colour-select__done">Colour: <span> yellow</span></p>
                    <ul class="colour-select__list">
                        <li class="colour-select__item">
                            <a
                                href="#!"
                                class="colour-select__btn colour-select__btn_red"
                                data-colour="red"
                                >red</a
                            >
                        </li>
                        <li class="colour-select__item">
                            <a
                                href="#!"
                                class="
                                    colour-select__btn
                                    colour-select__btn_active
                                    colour-select__btn_yellow
                                "
                                data-colour="yellow"
                                >yellow</a
                            >
                        </li>
                        <li class="colour-select__item">
                            <a
                                href="#!"
                                class="colour-select__btn colour-select__btn_green"
                                data-colour="green"
                                >green</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="card-info__select size-select">
                    <p class="size-select__done">Size: <span>48</span></p>
                    <ul class="size-select__list">
                        <li class="size-select__item">
                            <a href="#!" class="size-select__btn" data-size="44">44</a>
                        </li>
                        <li class="size-select__item">
                            <a href="#!" class="size-select__btn" data-size="46">46</a>
                        </li>
                        <li class="size-select__item">
                            <a
                                href="#!"
                                class="size-select__btn size-select__btn_active"
                                data-size="48"
                                >48</a
                            >
                        </li>
                        <li class="size-select__item">
                            <a href="#!" class="size-select__btn" data-size="50">50</a>
                        </li>
                        <li class="size-select__item">
                            <a href="#!" class="size-select__btn" data-size="52">52</a>
                        </li>
                        <li class="size-select__item">
                            <a href="#!" class="size-select__btn" data-size="54">54</a>
                        </li>
                    </ul>
                </div>
                <div class="card-info__counter own-counter">
                    <div class="own-counter__minus">-</div>
                    <div class="own-counter__field">1</div>
                    <div class="own-counter__plus">+</div>
                </div>
                <a href="#!" class="card-info__btn btn">add to cart</a>
                <a href="#!" class="card-info__btn card-info__btn_white btn"> add to wishlist </a>
                <div class="card-info__social">
                    <span>Share: </span>
                    <div class="social">
                        <a href="#!" class="social__link">
                            <img src="img/social/twitter.png" alt="twitter" />
                        </a>
                        <a href="#!" class="social__link">
                            <img src="img/social/twitter.png" alt="twitter" />
                        </a>
                        <a href="#!" class="social__link">
                            <img src="img/social/twitter.png" alt="twitter" />
                        </a>
                        <a href="#!" class="social__link">
                            <img src="img/social/twitter.png" alt="twitter" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
