<aside class="catalogue-aside">
    <div class="fold-aside ibg">Fold Filters</div>
    <div class="catalogue-filter catalogue-filter_open">
        <div class="catalogue-filter__top">
            <div class="catalogue-filter__title">
                <h3>Categories</h3>
                <span class="catalogue-filter__num num num_transp">1</span>
            </div>
            <span class="catalogue-filter__toggle"></span>
        </div>
        <div class="catalogue-filter__bottom">
            <ul class="catalogue-filter__checks">
                <li class="catalogue-filter__item">
                    <label
                        class="checkbox checkbox_border"
                        data-txt="All categories"
                    >
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label
                        class="checkbox checkbox_border"
                        data-txt="Accessories"
                    >
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Accessories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Dresses">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Dresses </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Coats">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Coats </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Clothes">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Clothes </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="T-shirt">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> T-shirt </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Summer">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Summer </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Shirts">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Shirts </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Jackets">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Jackets </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Shorts">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Shorts </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="catalogue-filter">
        <div class="catalogue-filter__top">
            <div class="catalogue-filter__title">
                <h3>Colour</h3>
                <span class="catalogue-filter__num num num_transp">1</span>
            </div>
            <span class="catalogue-filter__toggle"></span>
        </div>
        <div class="catalogue-filter__bottom">
            <ul class="catalogue-filter__checks">
                <li class="catalogue-filter__item">
                    <label
                        class="checkbox checkbox_border"
                        data-txt="All colours"
                    >
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All colours </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Red">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Red </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Orange">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Orange </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Yellow">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Yellow </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Green">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Green </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Blue">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Blue </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="White">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> White </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Black">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Black </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Pink">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Pink </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border" data-txt="Khaki">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> Khaki </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="catalogue-filter">
        <div class="catalogue-filter__top">
            <div class="catalogue-filter__title">
                <h3>Material</h3>
                <span class="catalogue-filter__num num num_transp">1</span>
            </div>
            <span class="catalogue-filter__toggle"></span>
        </div>
        <div class="catalogue-filter__bottom">
            <ul class="catalogue-filter__checks">
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
                <li class="catalogue-filter__item">
                    <label class="checkbox checkbox_border">
                        <input
                            type="checkbox"
                            name="check"
                            class="checkbox__box check-hidden"
                            required
                        />
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text"> All categories </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</aside>
