<div class="catalogue-goods">
    <div class="catalogue-goods__content catalogue-cont">
        <div class="catalogue-cont__top">
            <div class="catalogue-cont__col catalogue-cols">
                <span>Column number:</span>
                <ul class="catalogue-cols__list">
                    <li class="catalogue-cols__item">
                        <a href="#!" class="catalogue-cols__btn" data-cols="3"
                            >3</a
                        >
                    </li>
                    <li class="catalogue-cols__item">
                        <a
                            href="#!"
                            class="catalogue-cols__btn catalogue-cols__btn_act"
                            data-cols="4"
                            >4</a
                        >
                    </li>
                    <li class="catalogue-cols__item">
                        <a href="#!" class="catalogue-cols__btn" data-cols="5"
                            >5</a
                        >
                    </li>
                </ul>
            </div>
            <div class="catalogue-cont__select cust-sel">
                <div class="cust-sel__top">Sort by Latest</div>
                <div class="cust-sel__drop">
                    <ul class="cat-sel__list">
                        <li class="cust-sel__item">Sort by Latest</li>
                        <li class="cust-sel__item">Sort by Price</li>
                        <li class="cust-sel__item">Sort by Alphabet</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="catalogue-cont__choice catalogue-choice">
            <a href="#!" class="catalogue-choice__clear">Clear All </a>
        </div>
    </div>
    <div class="catalogue-goods__grid" data-grid-col="4">
        <div class="goods__card">
            <div class="goods__labels">
                <div class="goods__label">-12%</div>
            </div>
            <a href="#!" class="goods__img">
                <img src="./img/goods/01.jpg" alt="01" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Resque Chopper</h3>
                <h3 class="goods__title">children's toys</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current brit-pound">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/02.webp" alt="02" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">Trainers</h3>
                <h3 class="goods__title">sport shoes</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current rub">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <div class="goods__labels">
                <div class="goods__label">-12%</div>
                <div class="goods__label">Trade-off</div>
            </div>
            <a href="#!" class="goods__img">
                <img src="img/goods/03.jpg" alt="03" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">An exclusive pen</h3>
                <h3 class="goods__title">office</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <div class="goods__labels">
                <div class="goods__label">-12%</div>
                <div class="goods__label">Trade-off</div>
            </div>
            <a href="#!" class="goods__img">
                <img src="img/goods/04.jpg" alt="04" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Besom</h3>
                <h3 class="goods__title">cleaning</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/05.jpg" alt="05" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Kettle</h3>
                <h3 class="goods__title">kitchen stuff</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/06.jpg" alt="06" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Spaceship</h3>
                <h3 class="goods__title"></h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="./img/goods/01.jpg" alt="01" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Resque Chopper</h3>
                <h3 class="goods__title">children's toys</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/02.webp" alt="02" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">Trainers</h3>
                <h3 class="goods__title">sport shoes</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/03.jpg" alt="03" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">An exclusive pen</h3>
                <h3 class="goods__title">office</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/04.jpg" alt="04" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Besom</h3>
                <h3 class="goods__title">cleaning</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/05.jpg" alt="05" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Kettle</h3>
                <h3 class="goods__title">kitchen stuff</h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
        <div class="goods__card">
            <a href="#!" class="goods__img">
                <img src="img/goods/06.jpg" alt="06" />
            </a>
            <div class="goods__descript">
                <h3 class="goods__headline">A Spaceship</h3>
                <h3 class="goods__title"></h3>
                <p class="goods__text">
                    Our staff includes amazing professionals that have an eye
                    for crossfit.
                </p>
                <div class="goods__price price-goods">
                    <span class="price-goods__old">35.79</span>
                    <a href="#!" class="price-goods__cart"></a>
                    <span class="price-goods__current">24.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="pages">
        <a href="#!" class="pages__link"><span>1</span></a>
        <a href="#!" class="pages__link"><span>2</span></a>
        <a href="#!" class="pages__link"><span>3</span></a>
        <a href="#!" class="pages__link"><span>Next</span></a>
    </div>
</div>
