<section class="catalog-slider">
    <div class="catalog-slider__container container">
        <div class="swiper-container catalog-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="catalogue-slider__content content-slider">
                        <div class="content-slider__text">
                            <h2 class="content-slider__title">
                                Clearance Sales
                            </h2>
                            <p class="content-slider__dscr">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Sequi laboriosam velit nisi
                                illum iure.
                            </p>
                            <div class="content-slider__buttons">
                                <a href="#!" class="content-slider__btn btn">
                                    Find out more
                                </a>
                                <a
                                    href="#!"
                                    class="content-slider__btn btn content-slider__btn_transp"
                                >
                                    Buy
                                </a>
                            </div>
                        </div>
                        <div class="content-slider__pic">
                            <img src="img/cat-sl/01.jpg" alt="umbrella" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalogue-slider__content content-slider">
                        <div class="content-slider__text">
                            <h2 class="content-slider__title">
                                Clearance Sales
                            </h2>
                            <p class="content-slider__dscr">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Sequi laboriosam velit nisi
                                illum iure.
                            </p>
                            <div class="content-slider__buttons">
                                <a href="#!" class="content-slider__btn btn">
                                    Find out more
                                </a>
                                <a
                                    href="#!"
                                    class="content-slider__btn btn content-slider__btn_transp"
                                >
                                    Buy
                                </a>
                            </div>
                        </div>
                        <div class="content-slider__pic">
                            <img src="img/cat-sl/01.jpg" alt="meter" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <div class="catalog-swiper-btn catalog-swiper-btn_back">
                    <img src="img/cat-sl/arrow.png" alt="backward" />
                </div>
            </div>
            <div class="swiper-button-next">
                <div class="catalog-swiper-btn">
                    <img src="img/cat-sl/arrow.png" alt="forward" />
                </div>
            </div>
        </div>
        <div class="popup">
            <div class="popup__pic">
                <img src="img/popup/01.png" alt="" />
            </div>
            <div class="popup__text">
                <span class="popup__dscr">
                    Lorem ipsum dolor sit amet consectetur.
                </span>
                <h3 class="popup__title"></h3>
                <span class="popup__from"></span>
            </div>
            <div class="popup__close">
                <img src="img/icons/close.png" alt="close" />
            </div>
        </div>
    </div>
</section>
