<section class="column-of-articles">
    <div class="column-of-articles__container container">
        <div class="column-of-articles__main main-colArt">
            <div class="main-colArt__item item-colArt">
                <div class="item-colArt__img">
                    <img src="img/col-art/01.jpg" alt="image" />
                </div>
                <div class="item-colArt__descript descript-colArt">
                    <div class="descript-colArt__top">
                        <span class="descript-colArt__label flightsTitle">Flights</span>
                        <span class="icon-bookmark"></span>
                    </div>
                    <div class="descript-colArt__main">
                        <h3>
                            Passengers Suffer as Crowded Field Puts Pressure on Europe’s Airlines
                        </h3>
                        <p class="text">
                            Weaker carriers have fallen by the wayside amid fierce competition,
                            while others have been hit by bad luck. The result: thousands of
                            canceled flights.
                        </p>
                    </div>
                    <div class="descript-colArt__bottom bottom-colArt">
                        <span class="bottom-colArt__date">Aug 6</span>
                        <span class="bottom-colArt__comments icon-comment">342</span>
                        <span class="bottom-colArt__likes icon-heart">830</span>
                    </div>
                </div>
            </div>
        </div>
        <aside class="column-of-articles__aside aside-colArt">
            <div class="aside-colArt__top">
                <h4>Recommended for you</h4>
            </div>
            <div class="aside-colArt__main">
                <div class="aside-colArt__item">
                    <div class="aside-colArt__img">
                        <img src="img/col-aside2/01.jpg" alt="image" />
                    </div>
                    <div class="aside-colArt__text">
                        <p>Office Meetings Leave the Office</p>
                        <span>15 minuts ago</span>
                    </div>
                </div>
            </div>
            <div class="aside-colArt__bottom">
                <h5>Read more</h5>
            </div>
        </aside>
    </div>
</section>
