<div class="crumbs">
    <div class="crumbs__container container">
        <ul class="crumbs__list">
            <li class="crumbs__item">
                <a href="#!" class="crumbs__link">Home</a>
            </li>
            <li class="crumbs__item">
                <a href="#!" class="crumbs__link">Shop</a>
            </li>
            <li class="crumbs__item">
                <a href="#!" class="crumbs__link crumbs__link_curr">
                    New Arrivals
                </a>
            </li>
        </ul>
        @@include('../template/_to-and-fro.html')
    </div>
</div>
