<div class="custom-select-group__container container">
    <div class="cust-select">
        <button class="cust-select__btn">choose something</button>
        <ul class="cust-select__list">
            <li class="cust-select__item" data-value="111">one</li>
            <li class="cust-select__item" data-value="222">two</li>
            <li class="cust-select__item" data-value="333">three</li>
            <li class="cust-select__item" data-value="444">four</li>
            <li class="cust-select__item" data-value="555">five</li>
        </ul>
        <input
            type="text"
            name="select-custom"
            class="cust-select__input_hidden"
            value=""
        />
    </div>
    <div class="cust-select">
        <button class="cust-select__btn">choose something</button>
        <ul class="cust-select__list">
            <li class="cust-select__item" data-value="111">one</li>
            <li class="cust-select__item" data-value="222">two</li>
            <li class="cust-select__item" data-value="333">three</li>
            <li class="cust-select__item" data-value="444">four</li>
            <li class="cust-select__item" data-value="555">five</li>
        </ul>
        <input
            type="text"
            name="select-custom"
            class="cust-select__input_hidden"
            value=""
        />
    </div>
</div>
