<div class="single-select">
    <div class="single-select__container container">
        <div class="single-select__top">choose something</div>
        <ul class="single-select__list">
            <li class="single-select__item" data-value="111">one</li>
            <li class="single-select__item" data-value="222">two</li>
            <li class="single-select__item" data-value="333">three</li>
            <li class="single-select__item" data-value="444">four</li>
            <li class="single-select__item" data-value="555">five</li>
        </ul>
        <input
            type="text"
            name="select-custom"
            class="single-select__input_hidden"
            value=""
        />
    </div>
</div>
