<section class="dacha">
    <div class="dacha__container container">
        <h1 class="dacha__headline">Продаётся дачный участок 6 соток</h1>
        <p class="dacha__text">Телефон 8(950)912-08-63</p>
        <p class="dacha__text">Надежда</p>
        <div class="line">
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
            <span>8(950)912-08-63</span>
        </div>
    </div>
</section>
