<section class="dropdown-section">
    <div class="container">
        <nav class="dropdown">
            <ul class="dropdown__list">
                <li>
                    <div class="dropdown__link">Dropdown</div>
                    <span class="dropdown__arrow arrow"></span>
                    <ul class="sub__list">
                        <li>
                            <a href="#!" class="sub__link"> Second Level </a>
                        </li>
                        <li>
                            <div class="sub__link">Dropdown</div>
                            <span class="dropright__arrow arrow"></span>
                            <ul class="sub-sub__list">
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!" class="sub__link"> Second Level </a>
                        </li>
                        <li>
                            <div class="sub__link">Dropdown</div>
                            <span class="dropright__arrow arrow"></span>
                            <ul class="sub-sub__list">
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="dropdown__link"> First Level </a>
                </li>
                <li>
                    <div class="dropdown__link">Dropdown</div>
                    <span class="dropdown__arrow arrow"></span>
                    <ul class="sub__list">
                        <li>
                            <a href="#!" class="sub__link"> Second Level </a>
                        </li>
                        <li>
                            <a href="#!" class="sub__link"> Second Level </a>
                        </li>
                        <li>
                            <a href="#!" class="sub__link"> Second Level </a>
                        </li>
                        <li>
                            <div class="sub__link">Dropdown</div>
                            <span class="dropright__arrow arrow"></span>
                            <ul class="sub-sub__list">
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="sub-sub__link">
                                        Third Level
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="dropdown__link"> First Level </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
