<section class="dropdown-js">
    <div class="dropdown-js__container container">
        <h1 class="title">Dropdown Menu</h1>
        <ul>
            <li class="dropdown">
                <a href="#!" data-toggle="dropdown">
                    First Menu
                    <span class="dropdown-arrow"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    Second Menu
                    <span class="dropdown-arrow"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    Third Menu
                    <span class="dropdown-arrow"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
