<div class="img-text">
    <div class="img-text__container container">
        <div class="img-text__row">
            <div class="img-text__image">
                <img src="img/goods/03.jpg" alt="" />
            </div>
            <div class="img-text__body">
                <div class="img-text__title title">Your title is here</div>
                <div class="img-text__text">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Suscipit natus neque fuga nesciunt velit dolore
                        sed nobis rerum necessitatibus! Consectetur possimus
                        iusto, tempore atque ex repudia doloribus perferendis,
                        alias provident, veritatis quae sit sed, deleniti
                        pariatur aut sequi laborum eum soluta fugiat minima
                        quaerat? Quibusdam dicta deleniti saepe vitae labore.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Quia ex cupiditate qui commodi exercitationem
                        facilis laborinihil ab ipsum quidem asperiores
                        dignissimos maiores incidunt rem, sit dicta magni fuga
                        odio nam in doloremque veniam quasi? Explicabo
                        blanditiis minus aspernatur vitae excepturi facere
                        mollitia porro, aut voluptatum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-columns">
    <div class="flex-columns__container container">
        <div class="flex-columns__title title">flex-columns</div>
        <div class="flex-columns__row">
            <div class="flex-columns__col">
                <div class="flex-columns__item flex-item">
                    <div class="flex-item__row">
                        <div class="flex-item__image">
                            <img src="img/goods/05.jpg" alt="" />
                        </div>
                        <div class="flex-item__body">
                            <div class="flex-item__title">Column Title</div>
                            <div class="flex-item__text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deleniti molestiae cumque quis
                                vitae sunt. Aliquid et consequuntur explicabo,
                                esse, harum ullam ipsa maiores in quidem labore,
                                quibusdam unde quasi amet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-columns__col">
                <div class="flex-columns__item flex-item">
                    <div class="flex-item__row">
                        <div class="flex-item__image">
                            <img src="img/goods/05.jpg" alt="" />
                        </div>
                        <div class="flex-item__body">
                            <div class="flex-item__title">Column Title</div>
                            <div class="flex-item__text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deleniti molestiae cumque quis
                                vitae sunt. Aliquid et consequuntur explicabo,
                                esse, harum ullam ipsa maiores in quidem labore,
                                quibusdam unde quasi amet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-columns__col">
                <div class="flex-columns__item flex-item">
                    <div class="flex-item__row">
                        <div class="flex-item__image">
                            <img src="img/goods/05.jpg" alt="" />
                        </div>
                        <div class="flex-item__body">
                            <div class="flex-item__title">Column Title</div>
                            <div class="flex-item__text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deleniti molestiae cumque quis
                                vitae sunt. Aliquid et consequuntur explicabo,
                                esse, harum ullam ipsa maiores in quidem labore,
                                quibusdam unde quasi amet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-columns__col">
                <div class="flex-columns__item flex-item">
                    <div class="flex-item__row">
                        <div class="flex-item__image">
                            <img src="img/goods/05.jpg" alt="" />
                        </div>
                        <div class="flex-item__body">
                            <div class="flex-item__title">Column Title</div>
                            <div class="flex-item__text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deleniti molestiae cumque quis
                                vitae sunt. Aliquid et consequuntur explicabo,
                                esse, harum ullam ipsa maiores in quidem labore,
                                quibusdam unde quasi amet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vertical">
    <div class="vertical__container container">
        <div class="vertical__title title">Cards</div>
        <div class="vertical__body">
            <div class="vertical__row">
                <div class="vertical__column">
                    <div class="vertical__item">
                        <div class="vertical__headline">Happy to</div>
                        <div class="vertical__label">have you in</div>
                        <div class="vertical__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Fugiat, ad? Animi, similique. Fugiat quas
                            maiores, quos aliquid, eius aliquam nostrum
                            suscipit, odit quo velit, alias quod libero
                            praesentium dolores!
                        </div>
                        <a href="#!" class="vertical__btn btn">Subscribe</a>
                    </div>
                </div>
                <div class="vertical__column">
                    <div class="vertical__item">
                        <div class="vertical__headline">Happy to</div>
                        <div class="vertical__label">have you in</div>
                        <div class="vertical__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Fugiat, ad? Animi, similique. Fugiat quas
                            maiores, quos aliquid, eius eaque hic inventore
                            corporis vitae veniam ea? Nostrum nihil sequi
                            beatae! Eos ad incidunt minus eaque, aliquam nostrum
                            suscipit, odit quo velit, alias quod libero
                            praesentium dolores! Lorem ipsum dolor sit, amet
                            consectetur adipisicing elit. Error molestias, eos
                            tenetur odio earum deserunt officiis sed perferendis
                            dolores voluptates rerum maxime tempora,
                            perspiciatis minus pariatur id soluta nostrum odit.
                        </div>
                        <a href="#!" class="vertical__btn btn">Subscribe</a>
                    </div>
                </div>
                <div class="vertical__column">
                    <div class="vertical__item">
                        <div class="vertical__headline">Happy to</div>
                        <div class="vertical__label">have you in</div>
                        <div class="vertical__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Fugiat, ad? Animi, similique. Fugiat quas
                            maiores, quos aliquid, eius eaque hic inventore
                            corporis vitae veniam ea? Nostrum nihil sequi
                            beatae! Eos ad incidunt minus eaque, aliquam nostrum
                            suscipit, odit quo velit, alias quod libero
                            praesentium dolores! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Quas, rerum.
                        </div>
                        <a href="#!" class="vertical__btn btn">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
