<footer class="footer">
    <div class="footer__container container">
        <div class="footer__column">
            <h3 class="footer__title">Customer Service</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Phone: +8-111-222-33-44
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Live Chat </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> About Us </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Terms </a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Company</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> What We Do </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Available Service </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Latest Posts </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> FAQs </a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Our Newsletter</h3>
            <p class="footer__offer">
                *Join us and get 15% off your first purchase
            </p>
            <form class="footer__subscribe">
                <input type="email" placeholder="Your Email..." />
                <input type="submit" value="subscribe" />
            </form>
        </div>
    </div>
    <div class="footer__rights rights">
        <div class="rights__container container">
            <div class="rights__links">
                <a href="#!">Link 1</a>
                <a href="#!">Link 2</a>
                <a href="#!">Link 3</a>
            </div>
            <div class="rights__social social">
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</footer>
