<footer class="footer-2">
    <div class="footer-2__container container">
        <div class="footer-2__column">
            <div class="rights__social social">
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/twitter.png" alt="" />
                </a>
            </div>
        </div>
        <div class="footer-2__column">
            <div class="rights__links">
                <a href="#!">Privacy Policy</a>
                <a href="#!">Privacy Policy</a>
                <a href="#!">Privacy Policy</a>
            </div>
        </div>
        <div class="footer-2__column">
            <div class="custom-select-group">
                <div class="custom-select">
                    <span class="custom-select__span">currency</span>
                    <div class="custom-select__btn">usd</div>
                    <ul class="custom-select__list">
                        <li class="custom-select__item" data-value="111">
                            usd
                        </li>
                        <li class="custom-select__item" data-value="222">
                            euro
                        </li>
                        <li class="custom-select__item" data-value="333">
                            rub
                        </li>
                    </ul>
                    <input
                        type="text"
                        name="select-custom"
                        class="custom-select__input_hidden"
                        value=""
                    />
                </div>
                <div class="custom-select">
                    <span class="custom-select__span">language</span>
                    <div class="custom-select__btn">english</div>
                    <ul class="custom-select__list">
                        <li class="custom-select__item" data-value="111">
                            english
                        </li>
                        <li class="custom-select__item" data-value="222">
                            french
                        </li>
                        <li class="custom-select__item" data-value="333">
                            russian
                        </li>
                    </ul>
                    <input
                        type="text"
                        name="select-custom"
                        class="custom-select__input_hidden"
                        value=""
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2__rights copyrights">
        <div class="copyrights__container container">
            <span class="copyright">2020 Zonex. All rights reserved.</span>
            <div class="copyrights__payment payment">
                <img src="img/icons/visa.png" alt="visa" />
                <img src="img/icons/master-card.png" alt="master-card" />
                <img src="img/icons/visa.png" alt="visa" />
                <img src="img/icons/master-card.png" alt="master-card" />
                <img src="img/icons/visa.png" alt="visa" />
            </div>
        </div>
    </div>
</footer>
