<footer class="footer">
    <div class="footer__container container">
        <div class="footer__column footer__column_news">
            <h3 class="footer__title">News</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Nation </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> World </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Politics </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Solar Eclipse </a>
                </li>
            </ul>
        </div>
        <div class="footer__column footer__column_arts">
            <h3 class="footer__title">Arts</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Art & Design </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Movies </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> People </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Video: Arts </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Theater </a>
                </li>
            </ul>
        </div>
        <div class="footer__column footer__column_travel">
            <h3 class="footer__title">Travel</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Destinations </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Flights </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Business Travel </a>
                </li>
            </ul>
        </div>
        <div class="footer__column footer__column_sport">
            <h3 class="footer__title">Sports</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Olympics </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Motor Sports </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Volleyball </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> MMA </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Cycling </a>
                </li>
            </ul>
        </div>
        <div class="footer__column footer__column_tech">
            <h3 class="footer__title">Tech</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Tech </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Tech Columnists </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Tech Reviews </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Talking Tech </a>
                </li>
            </ul>
        </div>
        <div class="footer__column footer__column_money">
            <h3 class="footer__title">Moneys</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Markets </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Business </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Personal Finance </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Retirement </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link"> Careers </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__rights rights">
        <div class="rights__container container">
            <div class="rights__links">
                <a href="#!">
                    <img src="img/footer/logo.png" alt="logo-footer" />
                </a>
                <a href="#!">Contact Us</a>
                <a href="#!">Work with Us</a>
                <a href="#!">Advertise</a>
                <a href="#!">Your Ad Choise</a>
            </div>
            <div class="rights__social social">
                <a href="#!" class="social__link">
                    <img src="img/social/fb.png" alt="facebook" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/tw.png" alt="twitter" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/yt.png" alt="youtube" />
                </a>
                <a href="#!" class="social__link">
                    <img src="img/social/ig.png" alt="instagram" />
                </a>
            </div>
        </div>
    </div>
    <div class="footer__properties properties">
        <div class="properties__container container">
            <p class="properties__text">
                Universal’s business concept is to offer fashion and quality at the best price in a
                sustainable way. Universal has since it was founded in 2015 grown into one of the
                world's leading fashion companies.
            </p>
            <span class="properties__copy"> © 2019 Universal UI Kit </span>
        </div>
    </div>
</footer>
