<div class="figures">
    <div class="figures__item">
        <div class="square"></div>
    </div>
    <div class="figures__item">
        <div class="rectangle"></div>
    </div>
    <div class="figures__item">
        <div class="circle"></div>
    </div>
    <div class="figures__item">
        <div class="oval"></div>
    </div>
    <div class="figures__item">
        <div class="triangle-up"></div>
    </div>
    <div class="figures__item">
        <div class="triangle-down"></div>
    </div>
    <div class="figures__item">
        <div class="triangle-left"></div>
    </div>
    <div class="figures__item">
        <div class="triangle-right"></div>
    </div>
    <div class="figures__item">
        <div class="parallelogram"></div>
    </div>
    <div class="figures__item">
        <div class="trapezium"></div>
    </div>
</div>
