<div class="goods">
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
    <div class="goods__card">
        <a href="#!" class="goods__img">
            <img src="./img/goods/01.jpg" alt="01" />
        </a>
        <div class="goods__descript">
            <h3 class="goods__headline">Sarra Miller</h3>
            <h3 class="goods__title">spinning trainer</h3>
            <p class="goods__text">
                Our staff includes amazing professionals that have an eye for
                crossfit.
            </p>
        </div>
    </div>
</div>
