<header class="header header_top">
    <div class="header__container container">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html" class="nav__link"> Home </a>
                </li>
                <li class="nav__item">
                    <a href="./catalogue.html" class="nav__link"> Shop </a>
                </li>
                <li class="nav__item">
                    <a href="./card.html" class="nav__link"> Elements </a>
                </li>
                <li class="nav__item">
                    <a href="tools.html" class="nav__link"> tools </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link"> Page </a>
                </li>
            </ul>
        </nav>
        @@include('../template/_burger.html')
        <a href="./index.html" class="header__logo logo icon-logo"> logo </a>
        <ul class="header__shop-menu shop-menu">
            <li class="shop-menu__item">
                <form action="#" class="shop-menu__search search">
                    <button type="button" title="smt" class="search__btn ibg"></button>
                </form>
            </li>
            <li class="shop-menu__item">
                <a href="#!" class="shop-menu__link">
                    <img src="./img/icons/user.png" alt="user" />
                </a>
            </li>
            <li class="shop-menu__item">
                <a href="#!" class="shop-menu__link cart ibg">
                    <span class="cart__num num">3</span>
                </a>
            </li>
        </ul>
    </div>
</header>
