<header class="header">
    <div class="header__top top-header">
        <div class="top-header__container container">
            <div class="top-header__column column-top">
                <div class="column-top__sections">
                    @@include('../template/_burger.html')
                    <h3 class="column-top__headline headline">Sections</h3>
                </div>
                <div class="column-top__search search-header">
                    <div class="search-header__input">
                        <button class="header__btn btn btn_search icon-search">click</button>
                        <input type="search" name="search" id="search" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class="top-header__column column-top column-top_auth">
                <div class="column-top__subscribe subscribe-header">
                    <div class="subscribe-header__img">
                        <img src="img/header/stories.png" alt="stories" />
                    </div>
                    <a href="#!" class="subscribe-header__offer">
                        <h4 class="subscribe-header__headline headline">Subscribe Now</h4>
                        <p class="subscribe-header__text text">3 month for $19</p>
                    </a>
                </div>
                <a href="#!" class="column-top__sign sign-header">
                    <span class="sign-header__span icon-sign-in"></span>
                    <span class="sign-header__span">Sign In</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header__bottom bottom-header">
        <div class="bottom-header__container container">
            <div class="bottom-header__column column-bottom">
                <div class="column-bottom__img">
                    <img src="img/logo/logo-pic.png" alt="statue" />
                </div>
                <div class="column-bottom__place">
                    <span>Boston and New York Bear Brunt</span>
                </div>
            </div>
            <div class="bottom-header__column column-bottom bottom-header__column_logo">
                <a href="#!" class="column-bottom__logo logo">
                    <img src="img/logo/logo.png" alt="logo" />
                </a>
            </div>
            <div class="bottom-header__column column-bottom">
                <div class="column-bottom__date date-header">
                    <span class="date-header__span">Monday, January 1, 2018</span>
                </div>
                <div class="column-bottom__weather weather-header">
                    <span class="weather-header__span icon-weather"></span>
                    <span class="weather-header__span">- 23 °C</span>
                </div>
            </div>
        </div>
    </div>

    <nav class="header__nav nav">
        <ul class="nav__list container">
            <li class="nav__item">
                <a href="#!" class="nav__link"> News </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Opinion </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Science </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Life </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Travel </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Moneys </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Art & Design </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Sports </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> People </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> People </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link"> Education </a>
            </li>
        </ul>
    </nav>
</header>
