<header class="header-grid header_top">
    <a href="index.html" class="header-grid__logo logo">
        <img src="img/logo/logo.png" alt="logo" />
    </a>
    <nav class="header-grid__menu">
        <ul class="header-grid__list">
            <li class="nav__item">
                <a href="./index.html" class="header-grid__link"> Home </a>
            </li>
            <li class="nav__item">
                <a href="./catalogue.html" class="header-grid__link"> Shop </a>
            </li>
            <li class="nav__item">
                <a href="./card.html" class="header-grid__link"> Elements </a>
            </li>
            <li class="nav__item">
                <a href="tools.html" class="header-grid__link"> tools </a>
            </li>
            <li class="nav__item">
                <a href="grid.html" class="header-grid__link"> Grid </a>
            </li>
            <li class="nav__item">
                <a href="#!" class="header-grid__link"> Page </a>
            </li>
        </ul>
    </nav>
    @@include('../template/_burger.html')
</header>
