<section class="hero">
    <div class="hero__container container">
        <div class="swiper-container index-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Clearance Sales</h2>
                        <p class="hero__dscr">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Sequi laboriosam velit nisi illum iure.
                        </p>
                        <div class="hero__pic">
                            <img src="./img/hero/01.png" alt="lady" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Clearance Sales</h2>
                        <p class="hero__dscr">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Sequi laboriosam velit nisi illum iure.
                        </p>
                        <div class="hero__pic">
                            <img src="./img/hero/03.png" alt="cat" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Clearance Sales</h2>
                        <p class="hero__dscr">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Sequi laboriosam velit nisi illum iure.
                        </p>
                        <div class="hero__pic">
                            <img src="./img/hero/01.png" alt="lady" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Clearance Sales</h2>
                        <p class="hero__dscr">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Sequi laboriosam velit nisi illum iure.
                        </p>
                        <div class="hero__pic">
                            <img src="./img/hero/03.png" alt="cat" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="popup">
            <div class="popup__pic">
                <img src="img/popup/01.png" alt="" />
            </div>
            <div class="popup__text">
                <span class="popup__dscr">
                    Lorem ipsum dolor sit amet consectetur.
                </span>
                <h3 class="popup__title"></h3>
                <span class="popup__from"></span>
            </div>
            <div class="popup__close">
                <img src="img/icons/close.png" alt="close" />
            </div>
        </div>
    </div>
</section>
