<main class="main-grid">
    <aside class="side-grid">
        <nav class="side-grid__menu">
            <ul class="side-grid__list">
                <li>
                    <a href="#!" class="side-grid__link"> link </a>
                </li>
                <li>
                    <a href="#!" class="side-grid__link"> link </a>
                </li>
                <li>
                    <a href="#!" class="side-grid__link"> link </a>
                </li>
                <li>
                    <a href="#!" class="side-grid__link"> link </a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="content-grid">
        <h1 class="content-grid__title">Your headline should be here</h1>
        <div class="content-grid__gallery gallery-grid">
            <h2 class="gallery-grid__title">Gallery</h2>
            <div class="gallery-grid__items">
                <div class="gallery-grid__item gallery-grid__item_big">
                    <img src="img/grid/trip-02.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-01.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-05.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-04.jpeg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-05.jpg" alt="" />
                </div>
                <div class="gallery-grid__item gallery-grid__item_big">
                    <img src="img/grid/trip-03.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-07.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-08.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-09.jpg" alt="" />
                </div>
                <div class="gallery-grid__item">
                    <img src="img/grid/trip-10.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="content-grid__products products-grid">
            <h2 class="products-grid__title">Products</h2>
            <div class="products-grid__items">
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Nemo nisi, enim
                        voluptatum corrupti adipisci earum, dolorem deleniti
                        cumque non, et quisquam? Assumenda deserunt quis
                        facilis?
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
                <div class="products-grid__item">
                    <a href="#!" class="products-grid__img">
                        <img src="img/grid/coat.jpg" alt="" />
                    </a>
                    <a href="#!" class="products-grid__name">
                        A pink coat for ladies
                    </a>
                    <a href="#!" class="products-grid__button">Buy</a>
                </div>
            </div>
        </div>
    </section>
</main>
