<section class="s-01">
    <div class="s-01__container container">
        <div class="drop">
            <div class="option active placeholder" data-value="placeholder">
                Choose wisely
            </div>
            <div class="option" data-value="wow">
                Wow!
            </div>
            <div class="option" data-value="drop">
                So dropdown!
            </div>
            <div class="option" data-value="select">
                Very select!
            </div>
            <div class="option" data-value="custom">
                Much custom!
            </div>
            <div class="option" data-value="animation">
                Such animation!
            </div>
        </div>
    </div>
</section>
