<div class="subscribe">
    <div class="subscribe__container container">
        <form action="#!" id="form" class="subscribe__body">
            <h1 class="subscribe__title">Subscribe now and get 20% off</h1>
            <div class="subscribe__item">
                <label for="form-email" class="subscribe__label">E-mail</label>
                <input
                    type="text"
                    name="email"
                    id="form-email"
                    class="subscribe__input req _email"
                />
            </div>
            <button type="submit" class="subscribe__button">Send</button>
        </form>
    </div>
</div>
