<section class="section">
    <div class="section__container container">
        <div class="pure-tabs">
            <div class="pure-tabs__body">
                <div class="pure-tabs__content" data-tab="first">
                    <div class="pure-tabs__img">
                        <img src="img/recommend/01.jpg" alt="landscape" />
                    </div>
                    <div class="pure-tabs__cover cover-tabs">
                        <div class="cover-tabs__ava">
                            <div class="cover-tabs__img">
                                <img src="img/recommend/ava01.png" alt="avatar" />
                            </div>
                            <div class="cover-tabs__name">
                                <h4>By Benjamin Turner</h4>
                                <p>Traveler</p>
                            </div>
                        </div>
                        <div class="cover-tabs__description">
                            <h4 class="destinationTitle">Destinations01</h4>
                            <h2>In Southeast England, White Cliffs and Fish</h2>
                            <button class="cover-tabs__btn btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="pure-tabs__content" data-tab="second">
                    <div class="pure-tabs__img">
                        <img src="img/recommend/01.jpg" alt="landscape" />
                    </div>
                    <div class="pure-tabs__cover cover-tabs">
                        <div class="cover-tabs__ava">
                            <div class="cover-tabs__img">
                                <img src="img/recommend/ava01.png" alt="avatar" />
                            </div>
                            <div class="cover-tabs__name">
                                <h4>By Benjamin Turner</h4>
                                <p>Traveler</p>
                            </div>
                        </div>
                        <div class="cover-tabs__description">
                            <h4 class="destinationTitle">Destinations02</h4>
                            <h2>In Southeast England, White Cliffs and Fish</h2>
                            <button class="cover-tabs__btn btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="pure-tabs__content" data-tab="third">
                    <div class="pure-tabs__img">
                        <img src="img/recommend/01.jpg" alt="landscape" />
                    </div>
                    <div class="pure-tabs__cover cover-tabs">
                        <div class="cover-tabs__ava">
                            <div class="cover-tabs__img">
                                <img src="img/recommend/ava01.png" alt="avatar" />
                            </div>
                            <div class="cover-tabs__name">
                                <h4>By Benjamin Turner</h4>
                                <p>Traveler</p>
                            </div>
                        </div>
                        <div class="cover-tabs__description">
                            <h4 class="destinationTitle">Destinations03</h4>
                            <h2>In Southeast England, White Cliffs and Fish</h2>
                            <button class="cover-tabs__btn btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="pure-tabs__content" data-tab="forth">
                    <div class="pure-tabs__img">
                        <img src="img/recommend/01.jpg" alt="landscape" />
                    </div>
                    <div class="pure-tabs__cover cover-tabs">
                        <div class="cover-tabs__ava">
                            <div class="cover-tabs__img">
                                <img src="img/recommend/ava01.png" alt="avatar" />
                            </div>
                            <div class="cover-tabs__name">
                                <h4>By Benjamin Turner</h4>
                                <p>Traveler</p>
                            </div>
                        </div>
                        <div class="cover-tabs__description">
                            <h4 class="destinationTitle">Destinations04</h4>
                            <h2>In Southeast England, White Cliffs and Fish</h2>
                            <button class="cover-tabs__btn btn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="pure-tabs__content" data-tab="fifth">
                    <div class="pure-tabs__img">
                        <img src="img/recommend/01.jpg" alt="landscape" />
                    </div>
                    <div class="pure-tabs__cover cover-tabs">
                        <div class="cover-tabs__ava">
                            <div class="cover-tabs__img">
                                <img src="img/recommend/ava01.png" alt="avatar" />
                            </div>
                            <div class="cover-tabs__name">
                                <h4>By Benjamin Turner</h4>
                                <p>Traveler</p>
                            </div>
                        </div>
                        <div class="cover-tabs__description">
                            <h4 class="destinationTitle">Destinations05</h4>
                            <h2>In Southeast England, White Cliffs and Fish</h2>
                            <button class="cover-tabs__btn btn">Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-tabs__top">
                <div class="pure-tabs__headline headline">Recommended for you</div>
                <div class="pure-tabs__caption" data-tab="first">
                    <span class="foodTitle">Food</span>
                    <p>For Chicken-Fried Steak, Too Much Is Just Enough</p>
                </div>
                <div class="pure-tabs__caption" data-tab="second">
                    <span class="carsTitle">Cars</span>
                    <p>Storm Has Car Dealers Doing Swift Business</p>
                </div>
                <div class="pure-tabs__caption" data-tab="third">
                    <span class="moviesTitle">Movies</span>
                    <p>War Is Hell? In New Military Dramas, It’s One-Dimensional</p>
                </div>
                <div class="pure-tabs__caption" data-tab="forth">
                    <span class="nflTitle">NFL</span>
                    <p>11 surprising stat rankings for active NFL players</p>
                </div>
                <div class="pure-tabs__caption" data-tab="fifth">
                    <span class="techTitle">Tech Reviews</span>
                    <p>The bookcases you can buy online and assemble yourself</p>
                </div>
            </div>
        </div>
    </div>
</section>
