<div class="tabs-JS">
    <ul class="control-panel">
        <li class="control active">Tab 1</li>
        <li class="control">Tab 2</li>
        <li class="control">Tab 3</li>
    </ul>

    <div class="tabs-container">
        <div class="tabs-page">
            <div class="tab">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="02" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="shoes" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="trainers" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="02" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="shoes" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="img/goods/02.webp" alt="trainers" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/goods/03.jpg" alt="pen" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab__show-more">
            <span> load more</span>
        </div>
    </div>
</div>
