<section class="section">
    <div class="section__container container">
        <div class="pure-tabs">
            <div class="pure-tabs__top">
                <div class="pure-tabs__caption" data-tab="first">First</div>
                <div class="pure-tabs__caption" data-tab="second">Second</div>
                <div class="pure-tabs__caption" data-tab="third">Third</div>
            </div>
            <div class="pure-tabs__body">
                <div class="pure-tabs__content" data-tab="first">
                    <span>First</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sunt amet ipsum placeat, sequi molestiae eligendi pariatur
                    laboriosam dicta. Nihil excepturi quam, ipsa enim rerum
                    debitis officia dicta cumque quidem ad vero mollitia?
                </div>
                <div class="pure-tabs__content" data-tab="second">
                    <span>Second</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sunt amet ipsum placeat, sequi molestiae eligendi pariatur
                    laboriosam dicta. Nihil excepturi quam ratione, amet iusto
                    nam, reiciendis harum voluptas deleniti dolore consequatur?
                    Nostrum provident autem, voluptate saepe cum optio
                    architecto, erum debitis officia dicta cumque quidem ad vero
                    mollitia?
                </div>
                <div class="pure-tabs__content" data-tab="third">
                    <span>Third</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sunt amet ipsum placeat, sequi molestiae el cum optio
                    architecto, ipsa enim rerum debitis officia dicta cumque
                    quidem ad vero mollitia?
                </div>
            </div>
        </div>
    </div>
</section>
