<section class="team">
    <div class="team__container container">
        <h2 class="team__title title">expert <span>trainers</span></h2>
        <p class="team__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu
        </p>
        <div class="team__trainers">
            <div class="trainers__item">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/team/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="trainers__item">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/team/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="trainers__item">
                <div class="trainers__card">
                    <a href="#!" class="trainers__img">
                        <img src="./img/team/01.jpg" alt="01" />
                    </a>
                    <div class="trainers__descript">
                        <h3 class="trainers__headline">Sarra Miller</h3>
                        <h3 class="trainers__title">spinning trainer</h3>
                        <p class="trainers__text">
                            Our staff includes amazing professionals that have
                            an eye for crossfit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
