<section class="section-timeline">
    <div class="section-timeline__container container">
        <div class="timeline">
            <div class="timeline__branch branch branch_left">
                <div class="branch__image">
                    <img src="img/goods/04.jpg" alt="besom" />
                </div>
                <div class="branch__content">
                    <span>July 2020</span>
                    <h2>Visit to somewhere</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sint
                        officiis fugit doloremque repellendus iure explicabo iusto quis facere.
                    </p>
                </div>
            </div>
            <div class="timeline__branch branch branch_right">
                <div class="branch__image">
                    <img src="img/goods/04.jpg" alt="besom" />
                </div>
                <div class="branch__content">
                    <span>July 2020</span>
                    <h2>Visit to somewhere</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sint
                        officiis fugit doloremque repellendus iure explicabo iusto quis facere.
                    </p>
                </div>
            </div>
            <div class="timeline__branch branch branch_left">
                <div class="branch__image">
                    <img src="img/goods/04.jpg" alt="besom" />
                </div>
                <div class="branch__content">
                    <span>July 2020</span>
                    <h2>Visit to somewhere</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sint
                        officiis fugit doloremque repellendus iure explicabo iusto quis facere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
