<section class="media">
    <div
        class="media__left ibg"
        style="background-image: url('./img/media/01.jpg')"
    >
        <div class="left__container">
            <h4 class="media__title">tru for free</h4>
            <h2 class="media__headline">free 5 days pass</h2>
            <a href="#!" class="btn btn_main btn_media">Get in touch</a>
        </div>
    </div>
    <div
        class="media__right ibg"
        style="background-image: url('./img/media/01.jpg')"
    >
        <div class="right__container">
            <h4 class="media__title">call us and tru</h4>
            <h2 class="media__headline">957 547 4545</h2>
            <a href="#!" class="btn btn_main btn_media">Get in touch</a>
        </div>
    </div>
</section>
