<section class="recommend">
    <div class="recommend__container container">
        <div class="vertical-tabs-content">
            <div class="item active" id="vertical-tab-1">Содержимое 1</div>
            <div class="item" id="vertical-tab-2">Содержимое 2</div>
            <div class="item" id="vertical-tab-3">Содержимое 3</div>
            <div class="item" id="vertical-tab-4">Содержимое 4</div>
        </div>
        <ul class="vertical-tabs">
            <li class="active">
                <span rel="vertical-tab-1">Вкладка 1</span>
            </li>
            <li>
                <span rel="vertical-tab-2">Вкладка 2</span>
            </li>
            <li>
                <span rel="vertical-tab-3">Вкладка 3</span>
            </li>
            <li>
                <span rel="vertical-tab-4">Вкладка 4</span>
            </li>
        </ul>
    </div>
</section>
